<html>
<head>
<title>Adaptest - Simple Adaptive Testing</title>
<link rel="stylesheet" type="text/css" href="/style/style.css"/>
<script src="/js/modify.js"></script>
<script src="/js/jquery.min.js"></script>
</head>
<body>
<div class="container">
<div class="banner"><a href="/" class="jump">Adaptest</a></div>
<div class="subbanner"><a class="jump" href="/estim/admin/performance">Administration</a></div>
<div class="cont">
<div class="nav">
<br>
</div>
<div>How intelligent do you think they are?</div>
<div>
<ul>
{% for cred in credentials %}
<li><b>{{ cred.user.nickname() }}</b><br><i>Estimated &#952; </i>{{ cred.estimatedTheta }}<br><input type="button" value="-" onclick="changeTheta('{{ cred.key.id() }}',false)"><input type="button" value="+" onclick="changeTheta('{{ cred.key.id() }}',true)"></li>
{% endfor %}
</ul>
</div>
</div>
<div class="footer">
<div align="center">Logged in as <b>{{ current_user }}</b></div>
<div align="center">All rights reserved &#169; 2014</div>
</div>
</div>
</body>
</html>
