<html>
<head>
<title>Adaptest - Simple Adaptive Testing</title>
<link rel="stylesheet" type="text/css" href="/style/style.css"/>
</head>
<body>
<div class="container">
<div class="banner"><a href="/" class="jump">Adaptest</a></div>
<div class="subbanner">Simple Adaptive Testing</div>
<div class="nav"><a href="/estim/admin/performance" class="jump">Administration</a>|<a href="/estim/admin/add" class="jump">Add a question</a></div>
<div class="cont">
<div class="nav">

</div>
<br>
<ul>
{% for q in questions %}
<li><a href="/estim/answer/{{ q.key.id() }}">{{ q.question }}</a></li>
{% endfor %}
<br>
<form action="/" method="post">
	<div>
		<input type="submit" value="Take Test">
	</div>    
</form>
</ul>
</div>
<div class="footer">

<div align="center">Logged in as <b>{{ current_user }}</b></div>
<div align="center">All rights reserved &copy;2013</div>

</div>
</div>
</body>
</html>
