<html>
<head>
<title>Adaptest - Simple Adaptive Testing</title>
<link rel="stylesheet" type="text/css" href="/style/style.css"/>
</head>
<body>
<div class="container">
<div class="banner"><a href="/" class="jump">Adaptest</a></div>
<div class="subbanner">Simple Adaptive Testing</div>
<div class="nav"><a href="/estim/admin/performance" class="jump">Performance</a>|<a href="/estim/admin/add" class="jump">Add a question</a></div>
<div class="cont">
<div class="nav">

</div>
<br>
<ul>
{% for q in questions %}
<li><a href="/estim/answer/{{ q.key.id() }}">{{ q.question }}</a></li>
{% endfor %}
</ul>
</div>
<div class="footer">
<div align="center">All rights reserved c2013</div>
</div>
</div>
</body>
</html>
