<html>
<head>
<title>Adaptest - Simple Adaptive Testing : Performance</title>
<link rel="stylesheet" type="text/css" href="/style/style.css"/>
</head>
<body>
<div class="container">
<div class="banner"><a href="/" class="jump">Adaptest</a></div>
<div class="subbanner"><a class="jump" href="/estim/admin/performance">Administration</a></div>
<div class="nav"><a href="/" class="jump">Answer a question</a>|<a href="/estim/admin/add" class="jump">Add a question</a>|<a href="/estim/admin/credentials" class="jump">Credentials</a></div>
<div class="cont">
<div class="nav">
</div>
<br>
<ul>
{% for q in questions %}
<li><a href="/estim/admin/perform/{{ q.key.id() }}">{{ q.question }}</a></li>
{% endfor %}
</ul>
</div>
<br><br><br><br><br><br><br><br><br><br><br>
<div class="footer">
<div align="center">All rights reserved &copy; 2013</div>
</div>
</div>
</body>
</html>
